<div class="spacer">
          <div class="container">
            <div class="row mt-5">
              <div class="col-lg-9">
                <div *ngIf="cartData.length>0;else other_content" class="row shop-listing">
                  <table class="table shop-table">
                    <tr>
                      <th class="b-0">Name</th>
                      <th class="b-0">Price</th>
                      <th class="b-0">Image</th>
                      <th class="b-0">Quantity</th>
                      <th class="b-0 text-right">Total Price</th>
                    </tr>
                    <tr *ngFor="let item of cartData">
                      <td>{{ item.dishname }}</td>
                      <td>{{ item.price }}</td>
                      <td><img [src]=item.dishimg height="120px" alt=""></td>
                      <td>
                        <!-- <button class="btn btn-primary btn-sm" (click)="_increamentQTY(item.productId._id,1)">+</button> -->
                        {{ item.quantity }}
                        <button class="btn btn-primary btn-sm">-</button>
                      </td>
                      <td class="text-right">
                        <h5 class="font-medium m-b-30">{{ item.length }}</h5>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td colspan="3" align="right">Subtotal :{{ carts.subTotal }}</td>
                      <td colspan="4" align="right">
                        <button class="btn btn-danger" (click)="_emptyCart()">Empty Cart</button>
                      </td>
                    </tr> -->     
                  </table>
                </div>
                <ng-template #other_content><p> Cart is Empty</p></ng-template>
                <div><button (click)="backtomain()" >Back</button></div>
              </div>
            </div>
          </div>
        </div>