
app-header{
    position: fixed;
    width: 100%;
    z-index: 5;
}

.childdiv{
    border-style: inset;
    border-radius: 25px;
}

.shop-listing{
    top:2%;
    position: relative;
}
/* .table-responsive{
    margin: 25px;
    border: outset;
    padding: 25px;
    border-radius: 40px;
    background: lightblue;
    text-align: center;
    display: flex;
    width: fit-content
} */

h2,h3{
    background: cornflowerblue;
    border-radius: 35px;
    margin: 5px;
    text-align: center
    }

img{
        height: 170px;
        width: 260px;
        border: outset;
        border-radius: 35px;
        border-color:  cornflowerblue;
    }

    .p1{
        top:50px;
        position: relative;
    }