<div *ngIf="this.sharedser.userloggedon">
<div id="container">
    <div id="Menubar" *ngIf="toggle1">
            <div class="nav" (click)="route1()">
                <img src="\assets\img\home.png"/>
            </div>
            <div class="nav" (click)="route('about')">
            <img src="\assets\img\telephone.png"/>
            </div>
            <div class="nav">
                <button class="btn btn-primary " (click)="logout()">Logout</button>
            </div>
    </div>
</div>
<div style="position: relative;"><button (click)="toggle()"></button></div>
</div>