#Menubar
{
    display: flex;
    align-items: stretch;
    background-color: #1267c7 !important;
    height: 100%;
    width: 100%;
}

#container
{
    display: flex;
    align-items: stretch;
    background-color: #abc5e4 !important;
    height: 100%;
}

.nav{
    margin: 15px;
    left: auto;
    position: relative;
}
.nav:hover{
    cursor: pointer;
}

img{
    height:30px
}