<div id="parentdiv" class="container1">
<div id="Menubar" >
<nav _ngcontent-gsh-c1="" class="navbar navbar-expand-lg navbar-white navbar-light" id="one" style="width:100%;background: white;padding-top: 10px;padding-right: 10px;">
    <!-- <div id="fileuploaddiv">
        <input type="file" id="fileUploader"/>
        <button id="savetoserver" (click)="savetoserver()">Save to Server</button>
    </div> -->
        
    <div style="width:100%">
            <ul class="navbar-nav  mr-sm-2" style="float: right;">
                <li  class="nav-item active">
                    <button class="btn btn-outline btn-md f ml-2" type="button" (click)="register()">Register</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline btn-md f ml-2" (click)="login()" type="button">Login</button>
                </li>
            </ul>
        </div>
    </nav>
       
    </div>
    <marquee _ngcontent-nxf-c4="" direction="left" onmouseleave="this.start();" onmouseover="this.stop();" style="background:white">
        <div _ngcontent-nxf-c4="" class="marqueeStyling"> <b>Hotel Management Project with Angular 8 as Frontend and Node JS as Backend</b>
        </div></marquee>
        
</div>

