

<form #myForm="ngForm" class="border border-light p-5">
    <h4>Welcome to Angular 8 </h4> 
    <br>
<div class="container justify1" >
   
    <div class= "col-md-3">
        <div class="row">
            <input type="email" class="form-control mb-4" required autocomplete="on" placeholder="E-Mail" name="email" [(ngModel)]="email"/>
         </div>
        <div class="row">
            <input type="password" class="form-control mb-4" [type]="isTextFieldType ? 'text' : 'password'" required placeholder="Password" name="password" [(ngModel)]="password" />
        </div>
    </div>
   
    <div id="btndiv" class= "col-md-3">
        <button class="btn btn-primary" [disabled]="myForm.form.invalid" (click)="login()">Login</button>
        <button class="btn btn-primary" style="left:15px;position: relative;" (click)="register()">Register</button>
    </div>
</div>
<br/>

    
<h5>{{errorMessage}}</h5>
</form>