<!doctype html>
<div class="logincontainer">
<form #myForm="ngForm" class="border-light p-5 form-horizontal">
    <h4>Welcome</h4> 
    <br>
<div class="container justify1" >
   
    <div class= "col-md-3">
        <div>
            <input type="email" email class="form-control mb-4" required autocomplete="on" placeholder="E-Mail" name="email" [(ngModel)]="email"/>
            <!-- <div *ngIf="myForm.form.invalid &&myForm.form.email!=''">Email is invalid</div> -->
         </div>
        <div>
            <input type="password" class="form-control mb-4" [type]="isTextFieldType ? 'text' : 'password'" required placeholder="Password" name="password" [(ngModel)]="password" />
            <span [class]="isTextFieldType ?'fa fa-fw fa-eye field-icon':'fa fa-fw fa-eye-slash field-icon'" (click)="togglePasswordFieldType()"></span>

        </div>
    </div>
   
    <div id="btndiv" class= "col-md-3">
        <button class="btn btn-primary" [disabled]="myForm.form.invalid" (click)="login()">Login</button>
        <button class="btn btn-primary" style="margin:10px;position: relative;" (click)="register()">Register</button>
    </div>
</div>
<br/>

    
<h5>{{errorMessage}}</h5>
</form>
</div>