<button class="btn btn-primary" (click)="logout()">Logout</button>
<form #myForm="ngForm" class="border border-light p-5">
    <h4>Welcome {{this.username}} </h4> 
    <br>
<div class="container justify1" > 
    <div class= "col-md-3">
        <!-- <div class="row">
            <input type="text" class="form-control mb-4" autocomplete="off" placeholder="Username" name="username" [(ngModel)]="username"/>
         </div>
        <div class="row">
            <input type="text" class="form-control mb-4" placeholder="Address" name="address" [(ngModel)]="address" />
        </div>

        <div class="row">
            <input type="text" class="form-control mb-4" placeholder="Mobile No" name="mblno" [(ngModel)]="mblno" />
        </div>
        <div class="row">
            <input type="email" class="form-control mb-4" placeholder="Email Id" name="email" [(ngModel)]="email" />
        </div> -->
        <div *ngIf="menudata1.length>0">
            <table border="2 em" width="100%">
                <thead>
                    <th width="73%">Dish Name</th>
                    <th width="25%">Price</th>
                </thead>
                <tr *ngFor="let data1 of menudata1;let i = index">
                    <td>{{data1.dishname}}</td>
                    <td>{{data1.price}} $</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    </form> 