 <app-header></app-header> 
<form #myForm="ngForm" class="border border-light p-4">
    <h4>Welcome {{this.username}} </h4> 
    <!--<br>-->
<div class="container justify1" > 
    <!--<div class= "col-md-3">-->
        <!-- <div class="row">
            <input type="text" class="form-control mb-4" autocomplete="off" placeholder="Username" name="username" [(ngModel)]="username"/>
         </div>
        <div class="row">
            <input type="text" class="form-control mb-4" placeholder="Address" name="address" [(ngModel)]="address" />
        </div>

        <div class="row">
            <input type="text" class="form-control mb-4" placeholder="Mobile No" name="mblno" [(ngModel)]="mblno" />
        </div>
        <div class="row">
            <input type="email" class="form-control mb-4" placeholder="Email Id" name="email" [(ngModel)]="email" />
        </div> -->
        
        <div *ngIf="menudata1.length>0" class="table-responsive">
            <table class="table-bordered"  width="100%">
                <thead>
                    <th width="30%">Dish Name</th>
                    <th width="30%">Price</th>
                    <th width="20%"></th>
                    <th width="20%"></th>
                </thead>
                <tr *ngFor="let data1 of menudata1;let i = index">
                    <td>{{data1.dishname}}</td>
                    <td>{{data1.price}} $</td>
                    <td><img [src]=data1.dishimg height="120px" alt=""></td>
                    <td><button class="btn btn-info" style="position: initial;" (click)="addtocart(i)">Add to cart</button></td>
                </tr>
            </table>
        </div>

        

    <!--</div>-->
    </div>
    </form> 